<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WAO - Amuni</title>
        
        <!--======== All Stylesheet =========-->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/font-awesome.min.css" rel="stylesheet">
		<link href="../css/linearicons.css" rel="stylesheet">
        <!--=== plugins ===-->
        <link href="../css/owl.carousel.css" rel="stylesheet">
        <link href="../css/owl.theme.css" rel="stylesheet">
        <!--=== end plugins ===-->
        <link rel="shortcut icon" href="../images/logowao.png"> 
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/responsive.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600,300,200' rel='stylesheet' type='text/css'>
	</head>	
    
    <body data-spy="scroll" data-target=".nav-top">
        <!--======== header =========-->
        <header id="home" data-spy="scroll" data-target="#top-nav">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- menu 4 -->
                    <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand default-logo scroll" href="#home"><img src="../images/logowao.png" alt="logo" /> WAO</a>
                            </div>

                            <div class="collapse navbar-collapse top-nav" id="menu-4">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="scroll" href="#inicio">Inicio</a></li>
                                    <li><a class="scroll" href="#portfolio">Galeria</a></li>
                                    <li><a class="scroll" href="#team">Quienes Somos</a></li>
                                    <!--<li><a class="scroll" href="/calendario/">Eventos</a></li>-->
                                    <!--<li><a class="scroll" href="php\twig_contacto.php">Contacto</a></li>-->
                                    <li><a class="scroll" href="../php/registro_twig.php">Registrarse</a></li>
                                    <li><a class="scroll" href="../php/login_twig.php">Login</a></li>
                                    
                                </ul>
                                
                            </div>
                        </div>
                    </div><!-- end menu -->
                </div>
            </div>            
        </header>
        <!--======== end header =========-->
        
        <!--======== intro =========-->
        <section id="inicio" class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="intro-content">
                            <h1>El mejor juego de estrategia jamás creado</h1>
                            <p>War and Order es el juego líder entre los juegos de estrategia del mercado, únete a la aventura y disfruta de una experiencia de estrategia en vivo cómo nunca.</p>
                            <a class="btn btn-primary" href="#" role="button">Leer más <i class="lnr lnr-arrow-right"></i></a></i></a>
                            <a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.camelgames.superking&hl=es" role="button">Descargar <i class="lnr lnr-arrow-right"></i></a></i></a>
                            <div><i class="fa fa-caret-down"></i></div>    
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <!-- imagenintro <div><img src="../images/intro-imagee.png" class="img-responsive" alt="intro-image"></div>-->
                    </div>    
                </div>
            </div>
        </section>
        <!--======== end intro =========-->

        <!--======== support =========-->
        <section id="service" class="support">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <i class="fa fa-android"></i>
                                    </div>
                                    <div class="media-body">
                                        <h3>Android</h3>
                                        <p>Disponible en el Play Store</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <i class="fa fa-apple"></i>
                                    </div>
                                    <div class="media-body">
                                        <h3>Apple</h3>
                                        <p>Disponible en el Apple Store</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <!--======== end support =========-->
        
        <!--======== Our Services =========-->
        <!--======== end Our Services =========-->
        
        <!--======== about us =========-->
        <!--======== end about us =========-->
        
        <!--======== Our portfolio =========-->
        <section id="portfolio" class="work">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">  
                        <h1 class="section-title">Galería</h2>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3">
                            <div class="single-work"><img src="../images/wao1.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao1.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="single-work"><img src="../images/wao2.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao2.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-work"><img src="../images/wao3.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao3.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                            
                             <div class="single-work"><img src="../images/wao4.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao4.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-work"><img src="../images/wao5.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao5.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="single-work"><img src="../images/wao6.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao6.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-work"><img src="../images/wao7.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao7.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="single-work"><img src="../images/wao8.jpeg" alt="">
                                <div class="service-overflow">
                                    <ul class="list-inline work-links text-center">
                                        <li><a href="../images/wao8.jpeg"><i class="lnr lnr-magnifier"></i></a></li>
                                        <li><i class="lnr lnr-link"></i></li>
                                        <li><i class="lnr lnr-thumbs-up"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!--======== end Our Work =========-->
        
        <!--======== our Team =========-->
        <section id="team" class="our-experts">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">  
                        <h1 class="section-title">Nuestro equipo</h2>
                        <p class="section-para">Disponemos de la mejor plantilla de desarrolladores y jugadores para este proyecto.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="expert-box">
                            <img src="../images/team-1.jpg" alt="">
                            <div class="expert-overflow">
                                <ul class="list-inline text-center">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                </ul>
                            </div>
                            <div class="name-plate text-center">
                                <h3 class="expert-name">UnAim</h3>
                                <strong class="expert-tag">Fundador</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="expert-box">
                            <img src="../images/team-2.jpg" alt="">
                            <div class="expert-overflow">
                                <ul class="list-inline text-center">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                </ul>
                            </div>
                            <div class="name-plate text-center">
                                <h3 class="expert-name">Kuro</h3>
                                <strong class="expert-tag">Co Fundador</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="expert-box">
                            <img src="../images/team-3.jpg" alt="">
                            <div class="expert-overflow">
                                <ul class="list-inline text-center">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                </ul>
                            </div>
                            <div class="name-plate text-center">
                                <h3 class="expert-name">Ar3s</h3>
                                <strong class="expert-tag">Co Fundador</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="expert-box">
                            <img src="../images/team-4.jpg" alt="">
                            <div class="expert-overflow">
                                <ul class="list-inline text-center">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                </ul>
                            </div>
                            <div class="name-plate text-center">
                                <h3 class="expert-name">Vassk</h3>
                                <strong class="expert-tag">Co - founder</strong>
                            </div>
                        </div>
                    </div>
                </div>    
                </div>
            </div>    
        </section>
        <!--======== end our Genius =========-->

        <!--======== extra featrue =========-->
        <!--======== end extra featrue =========-->    
        
        <!--======== our sponsors =========-->
        <!--======== end recent evnt =========-->

        <!--======== contact =========-->
        <section id="contact" class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">  
                        <h1 class="section-title">Contactanos</h2>
                    </div>
                </div>
                <form action="../php/validar_contacto.php" method="post" accept-charset="UTF-8">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail3">Nombre</label>
                                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Nombre" name="your_name" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail3">Email</label>
                                    <input type="Email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="your_email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail3">Telefono</label>
                                    <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Telefono" name="your_phone">
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail3">Comentario</label>
                                    <textarea name="comments" class="form-control textarea" rows="5" placeholder="Comentario"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-default ">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline social-links text-center">
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-Twitter"></i></li>
                            <li><i class="fa fa-google-plus"></i></li>
                            <li><i class="fa fa-dribbble"></i></li>
                        </ul>
                    </div>
                </div>
            </div> 
            </form>   
        </section>
        
        <!--======== end contact =========-->
        
        <!--======== footer =========-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-md-12 text-center">
                        <p>Diseñado por <a href="http://amuni.tk">Amuni</a> | Copyright 2018 | Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>    
        </footer>
        <!--======== end footer =========-->
        
        <!--======== All Javascript =========-->
        <script src="js/jquery-2.1.1.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>

        <script>
                (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
                  t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
                })(window, document, '_gscq','script','//widgets.getsitecontrol.com/174025/script.js');
        </script>
    </body>
</html>