<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WAO - Amuni</title>
        
        <!--======== All Stylesheet =========-->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/font-awesome.min.css" rel="stylesheet">
		<link href="../css/linearicons.css" rel="stylesheet">
        <!--=== plugins ===-->
        <link href="../css/owl.carousel.css" rel="stylesheet">
        <link href="../css/owl.theme.css" rel="stylesheet">
        <!--=== end plugins ===-->
        <link rel="shortcut icon" href="../images/logowao.png"> 
		<link href="../css/style.css" rel="stylesheet">
		<link href="../css/responsive.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600,300,200' rel='stylesheet' type='text/css'>
        <link href="../css/style_amuni.css" rel="stylesheet" type="text/css">
	</head>	
    
    <body data-spy="scroll" data-target=".nav-top">
        <!--======== header =========-->
        <header id="home" data-spy="scroll" data-target="#top-nav">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- menu 4 -->
                    <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand default-logo scroll" href="#home"><img src="../images/logowao.png" alt="logo" /> WAO</a>
                            </div>

                            <div class="collapse navbar-collapse top-nav" id="menu-4">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="scroll" href="#inicio">Inicio</a></li>
                                    <li><a class="scroll" href="../php/vermensajes.php">Mensajes</a></li>
                                    <li><a class="scroll" href="../foro/index.php?p=/entry/signin">Foro</a></li>
                                    <li><a class="scroll" href="../php/logout.php">Logout</a></li>
                                    <li class = "user">Bienvenido <b>{{user}}</b></li>                                    
                                </ul>                                
                            </div>
                        </div>
                    </div><!-- end menu -->
                </div>
            </div>            
        </header>
        <!--======== end header =========-->
        
        <!--======== intro =========-->
        <section id="inicio" class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="intro-content">
                            <h1>El mejor juego de estrategia jamás creado</h1>
                            <p>War and Order es el juego líder entre los juegos de estrategia del mercado, únete a la aventura y disfruta de una experiencia de estrategia en vivo cómo nunca.</p>
                            <a class="btn btn-primary" href="#" role="button">Leer más <i class="lnr lnr-arrow-right"></i></a></i></a>
                            <a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.camelgames.superking&hl=es" role="button">Descargar <i class="lnr lnr-arrow-right"></i></a></i></a>
                            <div><i class="fa fa-caret-down"></i></div>    
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <!-- imagenintro <div><img src="../images/intro-imagee.png" class="img-responsive" alt="intro-image"></div>-->
                    </div>    
                </div>
            </div>
        </section>
        <!--======== end intro =========-->

        <!--======== support =========-->
        <section id="service" class="support">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <i class="fa fa-android"></i>
                                    </div>
                                    <div class="media-body">
                                        <h3>Android</h3>
                                        <p>Disponible en el Play Store</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <i class="fa fa-apple"></i>
                                    </div>
                                    <div class="media-body">
                                        <h3>Apple</h3>
                                        <p>Disponible en el Apple Store</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <!--======== end support =========-->
       
        
        <!--======== All Javascript =========-->
        <script src="js/jquery-2.1.1.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>

        <script>
                (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
                  t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
                })(window, document, '_gscq','script','//widgets.getsitecontrol.com/174025/script.js');
        </script>
    </body>
</html>