<html lang="en">

<body>   <!-- live chat php widget -->
    <script type="text/javascript">
                
                
        (function(w, d, s, u) {
            w.id = 1; w.lang = 'es'; w.cName = ''; w.cEmail = ''; w.cMessage = ''; w.lcjUrl = u;
            var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
            j.async = true; j.src = 'https://www.amuni.tk/chat/js/jaklcpchat.js';
        
        h.parentNode.insertBefore(j, h);
            })(window, document, 'script', 'https://www.amuni.tk');
    
    </script>
<div id="jaklcp-chat-container"></div>
<!-- end live chat php widget -->
</body> 
</html>
